<div>
  <h1>Josh Chan</h1>
  <h2>About me</h2>
  <p>
  I am a second-year Computer Engineering student with a keen interest in Electronics, Microcontrollers and Digital Systems, and Linux.
  </p>
  <p>
  I have extensive experience in leadership and management, demonstrated through my current roles as a QUT Peer Leader and QUT 
  EESS Educational Manager, as well as my past experience as a Prefect in high school.
  I am able to work professionally and efficiently in both collaborative and individual settings, as demonstrated through my
  contributions to numerous projects.
  </p>
 
</div>
